
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/contact.css")'>
  
</head>

<p>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/newspaper.css">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><a href="contact">Contact Me/Feedback</a><br><br><span><a href="https://drive.google.com/file/d/1li6CjPDUoQ9d9f0j3cjroe-A75jfBjOW/view?usp=sharing">Check Resume Online</a></span></div>
        <div class="header">Contact Me</div>
        <div class="profilepic"><img src="https://media.licdn.com/dms/image/C5103AQGI0hPk-UBTHQ/profile-displayphoto-shrink_800_800/0/1582144419344?e=1685577600&v=beta&t=Joz1BLHtt6QH_paz487al3jijm-AkwLoA1buCddsQ8U" height=120 width=120></div>    
    </div>
    <div class="subhead">+91 8375901644&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        siddharthbanga8@@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/siddharth-banga/">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/VOSID8">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://visionofsid.com">visionofsid.com</a></div>
</div>

<br>
<br>
<br>
<br>

  <form>
		<input name="name" placeholder="What is your name?" class="name" required />
		<input name="emailaddress" placeholder="What is your email?" class="email" type="email" required />
    <textarea rows="4" cols="50" name="subject" placeholder="Please enter your message" class="message" required></textarea>
    <input name="submit" class="btn" type="submit" value="Send" />
</form>


</p>  
  
  