<html>
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
      <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/home.css")'>
      </head>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/newspaper.css">
    <title>Newspaper Style Design Experiment</title>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Plenty of Sunshine</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span></div>
        <header>Siddharth Banga</header>
    </div>

    <div class="subhead">+91 8375901644&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        siddharthbanga8gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=>LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href=>Github</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://visionofsid.com">visionofsid.com</a></div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn column1">
            <div class="head"><span class="headline hl3">About Me</span><p>
                <span class="headline hl4">Sophomore Academically, Eternal Student For Life</span></p></div>
                <p>I am the solo-author of the website visionofsid.com which has a readership from 120+ countries where I write about International relations and geopolitics. I have also written articles for OpIndia, YouthKiAwaaz and Voice Of youth (By UNICEF) and the Kootneeti. 

                </p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Irrfan_Khan_May_2015_%28cropped%29.jpg/220px-Irrfan_Khan_May_2015_%28cropped%29.jpg" alt="" height=200 width=150 align="Left">
                <span class="citation">"Tech-savvy Social Advocate And Writer"</span>
            <p>Was also indulged in MUNs in past, both as a delegate and EB member. 
                Exploring different domains in Tech. Overall Runner up of Hacklipse 2.0 Hackathon, Most voted Hack Makeathon5 and finalist of HackTU 3.0.</p></div>
        <div class="collumn">
            <div class="head"><span class="headline hl5">Experience</span><p><span class="headline hl6">And Roles of Responsibility</span></p></div>
            Content </p>
			<figure class="figure">
								<!-- <img class="media" src="Images/placementtalks.jpg" alt=""> -->
                                <img class="media" src="placementtalks.png" alt="">
								<figcaption class="figcaption">Anchor at Placement Talks'22</figcaption>
						</figure>

            <p>Content</p>
            <p>Content</p>

            </div>
        <div class="collumn"><div class="head"><span class="headline hl1">Projects</span><p><span class="headline hl2">Implementing Tech To Solve Social and Real Time Problems</span></p></div>Content</p>
	<figure class="figure">
								<img class="media" src="https://sundayguardianlive.com/wp-content/uploads/2020/07/Delhi-Metro.jpg" alt="">
								<figcaption class="figcaption">DMRC Data Pipeline</figcaption>
						</figure>
            <p>Content Content</p>
            <p>Content</p></div>
        <div class="collumn"><div class="head"><span class="headline hl3">Achievements </span><p><span class="headline hl4">Never Enough, Should Never Be</span></p></div><p>Content</p></div>
        <!-- <div class="collumn"><div class="head"><span class="headline hl1">It wasn't a dream </span><p><span class="headline hl4">by FRANZ KAFKA</span></p></div><p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. </p>
					
					<p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. </p></div> -->
    </div>
</div>

</body>
</html>