<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/projects.css")'>
  <link rel="stylesheet" href="projects.css">
</head>


<p>
<header>
	<h1 class="news_paper_title">
		<a href="#">Project Times</a>
	</h1>

	<div class="news_paper_location">+91 8375901644&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        siddharthbanga8gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/siddharth-banga/">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/VOSID8">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://visionofsid.com">visionofsid.com</a><span id="time"></span></div>
</header>



<section class="the-grid-section">

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/Rehmat" target="_blank">
					<h2 class="title">Rehmat: Refugee HealthCare Management</h2>
					<h3 class="writer">Django Rest Framework, React.js, Agora SDK, OpenCV, Pytesseract</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830554/refugeers_rnvcnl.jpg" alt="">
					</figure>
				</a>
			</div>
			<p>Developed a full-stack website for Refugee Healthcare Management with Live Video Consultation. <br> My Contribution: Automated Authentication for Refugee’s identity from UNHRC Refugee Card.
				This project won the Most Voted Award in Makeathon5, a National Level Hackathon by MLSC TIET</p>
			<div class="button">
				<a href="https://github.com/VOSID8/Rehmat" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/DMRC-Data-Pipeline" target="_blank">
					<h2 class="title">DMRC Data Pipeline</h2>
					<h3 class="writer">Apache Spark (Using Scala), Kafka, Cassandra, Python</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830553/metro_mwdt9s.jpg" alt="">
					</figure>
				</a>
			</div>
			<p>Implemented Data Pipeline for Delhi Metro Using Spark Structured Streaming. <br> 
				Used Python for IOT Device used at Metro Gates, Kafka for Data Retrieval and Spark for Big Data Processing
			</p>
			<div class="button">
				<a href="https://github.com/VOSID8/DMRC-Data-Pipeline" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/creative-computing-society/Recruitment-OMR-scanner" target="_blank">
					<h2 class="title">OMR Scanner</h2>
					<h3 class="writer">OpenCV, Python</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830554/omrsheet_qy435z.webp" alt="">
					</figure>
				</a>
			</div>
			<p>Developed an OMR Scanner for recruitment purposes of CCS TIET. Around 1800 sheets were scanned</p>
			<div class="button">
				<a href="https://github.com/creative-computing-society/Recruitment-OMR-scanner" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/easyAttendance" target="_blank">
					<h2 class="title">easyAttendance</h2>
					<h3 class="writer">Django, OpenCV, JavaScript, HTML/CSS</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830553/attendace_t2v7hy.avif" alt="">
					</figure>
				</a>
			</div>
			<p>Developed a full-stack web Application for Facial Recognition based hostel Attendance System. Contribution: Facial recognition system using computer vision and authenticating Individuals <br> 
				This project won the 2nd Prize in Hacklipse 2.0, a National Level Hackathon by ACM TIET</p>
			<div class="button">
				<a href="https://github.com/VOSID8/easyAttendance" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/FreeMedia" target="_blank">
					<h2 class="title">Free Media</h2>
					<h3 class="writer">Play Framework, Scala, JavaScript, HTML/CSS</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830554/Media_hacbgo.jpg" alt="">
					</figure>
				</a>
			</div>
			<p>All the free newsmedia available online at one place to explore</p>
			<div class="button">
				<a href="https://github.com/VOSID8/FreeMedia" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/Document-Scanner" target="_blank">
					<h2 class="title">Document Scanner</h2>
					<h3 class="writer">Python,OpenCV</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830553/document_awyzsx.avif" alt="">
					</figure>
				</a>
			</div>
			<p>Scans Document or image and produces a readable document file</p>
			<div class="button">
				<a href="https://github.com/VOSID8/Document-Scanner" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/ProjectPrideUp" target="_blank">
					<h2 class="title">PrideUp: E-commerce for LGBTQ+</h2>
					<h3 class="writer">Django,JavaScript,HTML/CSS</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830554/prideup_sebkim.webp" alt="">
					</figure>
				</a>
			</div>
			<p>E-commerce for LGBTQ+ community where only they can sell, everyone can buy</p>
			<div class="button">
				<a href="v" target="_blank">Github</a>
			</div>
		</div>
	</article>

	<article class="the-grid">
		<div class="the-grid-content">
			<div class="headline">
				<a href="https://github.com/VOSID8/Virtual-Mouse" target="_blank">
					<h2 class="title">Virtual Mouse</h2>
					<h3 class="writer">OpenCV,Python</h3>
					<figure>
						<img src="https://res.cloudinary.com/dnmt2suyd/image/upload/v1679830553/attendace_t2v7hy.avif" alt="">
					</figure>
				</a>
			</div>
			<p>Mouse Controlled by finger, without any need for hardware mouse</p>
			<div class="button">
				<a href="https://github.com/VOSID8/Virtual-Mouse" target="_blank">Github</a>
			</div>
		</div>
	</article>

</section>
</p>